Repository tkocemba/kocemba-gcp: changes, and which Atlantis projects are due for each by the changed paths.
All: dev, qa, prd

dev:
  dir: terraform/dev

qa:
  dir: terraform/qa

prd:
  dir: terraform/prd

custom workflow
  atlantis.yaml
Due: none

Update variable.tf
  terraform/prd/variable.tf
Due: prd

custom workflow
  terraform/qa/backend.tf
Due: qa

custom workflow
  atlantis.yaml
  terraform/prd/main.tf
Due: prd

custom workflow
  terraform/prd/main.tf
Due: prd

custom workflow
  terraform/prd/variable.tf
Due: prd

custom workflow
  terraform/modules/cloudrun/main.tf
Due: none

Path conditions:
  dev: any of: terraform/dev/*.tf
  qa: any of: terraform/qa/*.tf
  prd: any of: terraform/prd/*.tf
