Repository tkocemba/kocemba-gcp: changes, and which Atlantis projects are due for each by the changed paths.
All: dev, qa, prd

atlantis.yaml:

version: 3
# https://www.runatlantis.io/docs/repo-level-atlantis-yaml.html#example-using-all-keys
# forcing rodering
# https://github.com/runatlantis/atlantis/pull/3292
projects:
  - name: dev
    dir: "terraform/envs/dev"
    autoplan:
      when_modified: ["*.tf", "../../modules/*"]
      enabled: true
    execution_order_group: 1
    apply_requirements: [ mergeable, undiverged ]
  - name: qa
    dir: "terraform/envs/qa"
    apply_requirements: [ mergeable, undiverged ]
    autoplan:
      when_modified: ["*.tf", "../../modules/*"]
      enabled: true
    execution_order_group: 2
    depends_on: ["dev"]
  - name: prd
#    workflow: production
    apply_requirements: [ mergeable, undiverged]
#    apply_requirements: [ mergeable, approved, undiverged ]
    dir: "terraform/envs/prd"
    autoplan:
      when_modified: [ "*.tf" , "../../modules/*"]
      enabled: true
    depends_on: ["qa"]
    execution_order_group: 3
workflows:
  production:
    apply:
      steps:
          # this run is just for demo extra logic should be in seperated tool
        - run: $HOME/prd-apply.sh
#            command: |
#              set -x
#              echo \"$COMMENT_ARGS\"
#              if [ ${COMMENT_ARGS}" = \"\C\R\" ]; then
#                terraform apply ${PLANFILE};
#              else
#                echo \"Pass CR as argument to deploy on prod\" && exit 1;
#              fi
#            output: show

qafeature3
  terraform/envs/qa/main.tf
Due: qa

devqafeature2
  terraform/envs/dev/main.tf
  terraform/envs/qa/main.tf
Due: dev, qa

commonfeature2
  terraform/modules/cloudrun/main.tf
Due: dev, qa, prd

prdcriticalbu2
  terraform/envs/prd/main.tf
Due: prd

feature with bug
  terraform/envs/dev/main.tf
Due: dev

removing comment
  terraform/envs/dev/main.tf
Due: dev

qafeature3 (#55)
  terraform/envs/qa/main.tf
Due: qa

prdcriticalbu2 (#57)
  terraform/envs/prd/main.tf
Due: prd

devqafeature2 (#56)
  terraform/envs/dev/main.tf
  terraform/envs/qa/main.tf
Due: dev, qa

removing comment (#60)
  terraform/envs/dev/main.tf
Due: dev

Update main.tf
  terraform/envs/prd/main.tf
Due: prd

Update main.tf (#61)
  terraform/envs/prd/main.tf
Due: prd

devfeature6 (#53)
  terraform/envs/dev/main.tf
Due: dev

Update main.tf
  terraform/envs/dev/main.tf
Due: dev

feature with bug (#59)
  terraform/envs/dev/main.tf
Due: dev

devfeaturebug2
  terraform/envs/dev/main.tf
Due: dev

criticalbugprd11
  terraform/envs/prd/main.tf
Due: prd

commonfeature2 (#58)
  terraform/modules/cloudrun/main.tf
Due: dev, qa, prd

devqafeature
  terraform/envs/dev/main.tf
  terraform/envs/qa/main.tf
Due: dev, qa

commonfeature
  terraform/modules/cloudrun/main.tf
Due: dev, qa, prd

qafeature4
  terraform/envs/qa/main.tf
Due: qa

newcommand
  terraform/envs/dev/main.tf
Due: dev

devqafeature (#64)
  terraform/envs/dev/main.tf
  terraform/envs/qa/main.tf
Due: dev, qa

devfeature7 (#54)
  terraform/envs/dev/main.tf
Due: dev

reamoving infra
  terraform/envs/dev/main.tf
  terraform/envs/dev/output.tf
  terraform/envs/prd/main.tf
  terraform/envs/prd/output.tf
  terraform/modules/cloudrun/main.tf
  terraform/modules/cloudrun/output.tf
Due: dev, qa, prd

reamoving infra
  terraform/envs/qa/output.tf
Due: qa

reamoving infra (#67)
  terraform/envs/dev/main.tf
  terraform/envs/dev/output.tf
  terraform/envs/prd/main.tf
  terraform/envs/prd/output.tf
  terraform/envs/qa/output.tf
  terraform/modules/cloudrun/main.tf
  terraform/modules/cloudrun/output.tf
Due: dev, qa, prd
