Repository tkocemba/kocemba-gcp: changes, and which Atlantis projects are due for each by the changed paths.
All: dev, qa

dev:
  dir: terraform/dev
  execution_order_group: 1

qa:
  dir: terraform/qa
  execution_order_group: 2

custom workflow
  terraform/modules/cloudrun/main.tf
Due: none

custom workflow
  terraform/dev/main.tf
Due: dev

Update main.tf
  terraform/dev/main.tf
Due: dev

Update main.tf
  terraform/modules/cloudrun/main.tf
Due: none

Update atlantis.yaml
  atlantis.yaml
Due: none

Update main.tf (#27)
  terraform/dev/main.tf
Due: dev

Update main.tf
  terraform/qa/main.tf
Due: qa

Update main.tf
  terraform/prd/main.tf
Due: none

removed, custom
  atlantis.yaml
  terraform/envs/dev/backend.tf
  terraform/envs/dev/main.tf
  terraform/envs/dev/output.tf
  terraform/envs/dev/provider.tf
  terraform/envs/dev/variable.tf
  terraform/envs/prd/backend.tf
  terraform/envs/prd/main.tf
  terraform/envs/prd/output.tf
  terraform/envs/prd/provider.tf
  terraform/envs/prd/variable.tf
  terraform/envs/qa/backend.tf
  terraform/envs/qa/main.tf
  terraform/envs/qa/output.tf
  terraform/envs/qa/provider.tf
  terraform/envs/qa/variable.tf
  terraform/qa/main.tf
Due: qa

removed, custom
  atlantis.yaml
Due: none

Refactoring (#29)
  atlantis.yaml
  terraform/dev/main.tf
  terraform/envs/dev/backend.tf
  terraform/envs/dev/main.tf
  terraform/envs/dev/output.tf
  terraform/envs/dev/provider.tf
  terraform/envs/dev/variable.tf
  terraform/envs/prd/backend.tf
  terraform/envs/prd/main.tf
  terraform/envs/prd/output.tf
  terraform/envs/prd/provider.tf
  terraform/envs/prd/variable.tf
  terraform/envs/qa/backend.tf
  terraform/envs/qa/main.tf
  terraform/envs/qa/output.tf
  terraform/envs/qa/provider.tf
  terraform/envs/qa/variable.tf
  terraform/qa/main.tf
Due: dev, qa

removed, custom
  terraform/envs/prd/main.tf
Due: none

removed, custom
  .gitignore
  terraform/envs/dev/.terraform.lock.hcl
  terraform/envs/dev/main.tf
  terraform/envs/prd/.terraform.lock.hcl
  terraform/envs/prd/main.tf
  terraform/envs/qa/.terraform.lock.hcl
Due: none

PR on prd (#30)
  .gitignore
  terraform/envs/dev/.terraform.lock.hcl
  terraform/envs/dev/main.tf
  terraform/envs/prd/.terraform.lock.hcl
  terraform/envs/prd/main.tf
  terraform/envs/qa/.terraform.lock.hcl
Due: none

pr1dev1
  terraform/envs/dev/main.tf
Due: none

change in qa1
  terraform/envs/qa/main.tf
Due: none

change in dev2
  terraform/envs/dev/main.tf
Due: none

pr1dev1 (#31)
  terraform/envs/dev/main.tf
Due: none

change in qa1 (#32)
  terraform/envs/qa/main.tf
Due: none

Pr2dev2 (#33)
  terraform/envs/dev/main.tf
Due: none

feature on dev
  atlantis.yaml
  provider.bug.example.txt
  terraform/envs/dev/main.tf
Due: none

Revert "feature on dev"
  atlantis.yaml
  provider.bug.example.txt
  terraform/envs/dev/main.tf
Due: none

feature on dev
  provider.bug.example.txt
Due: none

Path conditions:
  dev: any of: terraform/dev/*.tf
  qa: any of: terraform/qa/*.tf
